<style type="text/css">
			.plus{
			    height: 0;
			    padding: 0;
			    overflow: hidden;
			    opacity: 0;
			    transition: 0.8s;			
			}
			.ala input:checked ~ .plus{
			    height: auto;
			    opacity: 1;
			    color: red;
			}
			.plus2{
			    height: 0;
			    padding: 0;
			    overflow: hidden;
			    opacity: 0;
			    transition: 0.8s;			
			}
			.ala input:checked ~ .plus2{
			    height: auto;
			    opacity: 1;
			    color: red;
			}
			.plus3{
			    height: 0;
			    padding: 0;
			    overflow: hidden;
			    opacity: 0;
			    transition: 0.8s;			
			}
			.ala input:checked ~ .plus3{
			    height: auto;
			    opacity: 1;
			    color: red;
			}
			.plus4{
			    height: 0;
			    padding: 0;
			    overflow: hidden;
			    opacity: 0;
			    transition: 0.8s;			
			}
			.ala input:checked ~ .plus4{
			    height: auto;
			    opacity: 1;
			    color: red;
			}
			.plus5{
			    height: 0;
			    padding: 0;
			    overflow: hidden;
			    opacity: 0;
			    transition: 0.8s;			
			}
			.ala input:checked ~ .plus5{
			    height: auto;
			    opacity: 1;
			    color: red;
			}

</style>

<div class="ala">
	<label for="label">
<!-- ここに注釈される文 -->
 \( 実数全体:\boldsymbol{R}  \)
	</label>
	<input type="checkbox" id="label">
	<p class="plus">
<!-- 注釈文 -->
有理数と無理数を合わせたもの。つまり複素数以外
	</p>
</div>
<div class="ala">
	<label for="label2">
<!-- ここに注釈される文 -->
 \(  複素数全体:\boldsymbol{C}  \)
	</label>
	<input type="checkbox" id="label2">
	<p class="plus2">
<!-- 注釈文 -->
実数と虚数を合わせたもの。つまりすべての数
	</p>
</div>
<div class="ala">
	<label for="label3">
<!-- ここに注釈される文 -->
 \(  M_{m\times n}(\boldsymbol{R}):実数を成分にもつ、m×n行列全体  \)
	</label>
	<input type="checkbox" id="label3">
	<p class="plus3">
<!-- 注釈文 -->
\(

成分が実数の 2\times 2行列の例 \\
M_{2\times 2}(\boldsymbol{R})：
\begin{pmatrix}
2 & -1 \\
4 & -2 \\
\end{pmatrix} \\

成分が実数の 3\times 2行列の例 \\
M_{3\times 2}(\boldsymbol{C})：
\begin{pmatrix}
4+6i & i & 5 \\
6 & 5 & 8 \\
\end{pmatrix} 
\)
	</p>
</div>
<div class="ala">
	<label for="label4">
<!-- ここに注釈される文 -->
 \(   \boldsymbol{R}^{m} = M_{m\times 1}(\boldsymbol{R})  \)
	</label>
	<input type="checkbox" id="label4">
	<p class="plus4">
<!-- 注釈文 -->
\(m\times 1行列\)
	</p>
</div>
<div class="ala">
	<label for="label5">
<!-- ここに注釈される文 -->
 \(  \boldsymbol{R}_{m} = M_{1\times n}(\boldsymbol{R})  \)
	</label>
	<input type="checkbox" id="label5">
	<p class="plus5">
<!-- 注釈文 -->
\(1\times m行列 \)
	</p>
</div>
