\(
複数のテキストの中の、ある語句の相対的な重要度を示す重みを計算する方法。 \\
TF(Term Frequency)は、文書dにおける語句tの頻度(tf)であり \\
IDF(Inverted Document Frequency)は、語句tがテキスト群の中のいくつのテキストに現れているかに関する相対的な重みである。 \\
tf:その文書に語句tが出てきた数 \\
IDF:\log(\frac{N}{df}) \\
(df:語句tを含むテキストの数\quad N:テキストの総数 )
語句tを含むテキストが多い:IDFが小さくなる \\
語句tを含むテキストが少ない:IDFが大きくなる \\
つまり、IDFは語句tがテキストのオリジナリティを表現してる度合い \\
TF-IDF(tf\time \frac{N}{df})は語句tのそのテキストにおける重要度 \\
そのテキストにたくさんでてくる\time 他のテキストより多く出てくる \to IDF大 \\
そのテキストにたくさんでてくる\time 他のテキストより少なく出てくる \to IDF中 \\
そのテキストにあまりでてこない\time 他のテキストより多く出てくる \to IDF中 \\
そのテキストにあまりでてこない\time 他のテキストより少なく出てくる \to IDF中 \\

\)


\(
複数のテキストにおける語句の重要度を計算する方法。 \\
カイ二乗分布は次の式で定義されている。
X^2=\displaystyle \sum_{i=1}^{r}\displaystyle \sum_{j=1}^{c}\frac{(n_{ij}-E_{ij})^2}{E_{ij}}, E_{ij}=\frac{\displaystyle \sum_{k=1}^{c}n_{ik}\times \displaystyle \sum_{l=1}^{r}n_{lj}}{\displaystyle \sum_{i=1}^{r}}\displaystyle \sum_{j=1}^{c}n_{ij} \\
どちらも行と列に対照な値 \\
n_{ij}:語句iのテキストjにおける出現頻度 \\
E_{ij}:語句iのテキストjにおける出現頻度の期待値 \\
この値が大きいほど行間(あるいは列間)のデータパターンの差が大きいことになる。 \\
行間(あるいは列間)のデータパターンの差が大きく異なるほど、 \\
その語がテキストにおける特徴語としてのランクが上昇する。 \\
すべての語についてカイ二乗分布量を求め、カイ二乗値が大きい順にソートすると \\
上位の語句がこれらのテキストにおける特徴語になる。 \\
/)
\(
共起の重要度 \\
二つの語句が共起したデータについて、 \\
どの組の重要度が増すかに関する計算が必要な場合がある。 \\
どの組の共起が相対的に多いかは、 \\
次の式で示す二つの確率点の相互情報量を
\)