<html>
    <head>
        <title></title>
        <style type="text/css">
        	.prop {
				    padding: 0.5em 1em;
				    margin: 2em 0;
				    font-weight: bold;
				    border: solid 3px #000000;
					overflow:hidden;
					}
			.prop p {
			    margin: 0; 
			    padding: 0;
					} 
			.text {
				float:left;
				width:40%;
			}
			.img{
				margin-top: 50px;
				float:right;
				width:55%;
			}

        </style>
    </head>
    <body>
    	<h1>質問できるガロア理論</h1>
    	<p>授業ノートをベースに教科書から詳細を引用したテキストを作ることで、大学のノートと教科書の必要性をなくすことが目的です。</p>
    	<p>他の分野のテキストも作成中です。</p>
    	<p>協力者募集中（特にプログラマー・webデザイナ・テキスト管理者）</p>

    	{% for prop in props %}
    	<div class="prop">
    		<div class="text">
    		<h2>{{ prop }}</h2>
    		<p>{{prop.text|linebreaksbr}}</p>
    		</div>

    		<div class="img">
			<img src="{{prop.img.url}}" width="80%">
       		</div>
    	</div>
		{% endfor %}
    </body>
</html>