<style type="text/css">
			.plus{
			    height: 0;
			    padding: 0;
			    overflow: hidden;
			    opacity: 0;
			    transition: 0.8s;			
			}
			.ala input:checked ~ .plus{
			    height: auto;
			    opacity: 1;
			    color: red;
			}
</style>
\(

高校数学…「限りなく近づく」（直観的）　 \\
例えば　		\\
x_{n}\to a\Rightarrow(x_{1}+…x_{n})/n\to ？　　 \\

\underline{A.aが正解}　　	\\
{m_{n}},{x_{n}}がaに収束することを定量的に定義するべき.  \\
(方針)　　 \\
nを限りなく大きくするとき、x_{n}が一定値aに限りなく近づく　　 \\
\Rightarrow(aの付近に集中してくる！)　　　 \\
\to aのどんな小さな近傍を考えても、nを大きくすれば、x_{n}はその近傍に入り続ける。　　 \\
\to このことをヒントに、次のように収束を定義しよう。　　　　 \\
\)
\(\large \underline{数列の収束の\epsilon-n_{0}式定義} \)
\(
実数列{x_{n}}がaに収束する:⇔任意の\epsilon≧0に対して、　　 \\
あるn_0∊\mathbb{ N }に存在してn≧a_0をみたす任意のn∊\mathbb{ N }に対して,   \\
|x_{n}-a|<\epsilonが成り立つ.  \\
このとき、　　 \\
\lim_{n\to \infty} x_{n}=a , x_{n}\to a(n\to ∞) \\
などと書き、aを{x_{n}}の極限値という
\)