<style type="text/css">
/* ここを拡張する */
			.plus3{
			    height: 0;
			    padding: 0;
			    overflow: hidden;
			    opacity: 0;
			    transition: 0.8s;			
			}
			.ala input:checked ~ .plus3{
			    height: auto;
			    opacity: 1;
			    color: red;
			}
/* ここまで拡張する */
</style>
空でない、上に有界なRの部分集合は上限を持つ。  <br><br>
<u>証明の概要</u>　 <br>
上に有界なRの部分集合をAとおく。上界の定義より上界に最小値が存在する。<br><br>
<u>証明</u>　 <br>
\(
A\subset Rを上に有界な空でない集合とする。 \\
このときBをCの上界全体の集合とすると、仮定よりBは空集合でない。
\)
<div class="ala">
\(そして\)
	<label for="label3">\(Bの補集合 R/B\)</label>
	<input type="checkbox" id="label3">
	<p class="plus3">
\(切断の条件[(B\cap C)=R]を満たすためにわざわざBの補集合をとっているだけ。\)
	</p>
</div>
\(	
をCとすると、(B,C)が実数の切断になる。 \\
そしてAは空でないのでAの元aを一つとって z\lt a　なる任意の元zを考えると、 \\
これがCに属することは、定義によってzがCの上界でないことから明らか。 \\
よって　C\neq ∅　となり(1.1)はすべて満たされる。条件(1.2)を確かめる。 \\
実際 c\in C,b\in Bで、　a\leq b でなければ　a\geq b ということになるが、 \\
bはAの上界なのでそれ以上のcもAの上界となり、　\\
c\in C\cap B　がでて　C\cap B=\varnothing に矛盾する。 \\
以上で(B,C)が切断であることがわかったので、 \\
連続性の公理より[Cに最大値が存在する]または[Bに最小値が存在する]のどちらかが成り立つ。 \\
Bに最小値が存在すればその最小値がAの上限であるので、 \\
Cに最大値xが存在するとして矛盾を導けばよい。 \\
ｘはBの元でないのであるa\in Aでx\lt aとなるものがある。 \\
しかし、x\lt z\lt aなる任意のz(例えば(x+a)/2)はCの上界でないのでCに属する。 \\
これはxがAの最大元ということに矛盾する。　 \\
\)