<u>定理</u>  <br>
A,B⊂Rは空でない、このとき、 <br>
A+B := {x+y|x∊A,y∊B}　と定義する <br>
sup(A+B) = supA + supB <br>
<u>証明</u>　 <br>
まず、 sup(A+B)≦supA+supBを示す。 <br>
∀a∊A,a≦supA , ∀b∊B,b≦supB <br>
a+b≦supA+supB <br>
sup(A+B)≦supA+supB <br>
上限の定義より <br>
sup(A+B)≦supA+supB <br>

上限の定義より <br>
∀a∊A、∀b∊B　に対して、 <br>
a+b≦sup(A+B) <br>


<div class="txt">


∴ a≦

	<label for="label3">
<!-- ここに注釈される文 -->
sup(A+B)-b
	</label>
	<input type="checkbox" id="label3">
	<p class="plus3">
これがAの上界
	</p>

</div>

supA⊆sup(A+B)-b <br>
同様に　 <br>
supB≦sup(A+B)-a <br>
両辺を足し合わせると　 <br>
supb+supA+supB≦2(supA+supB)≦sup(A+B) <br>
次に　 <br>
b≦sup(A+B)-supA <br>
∴supA+supB≦sup(A+B)  <br>

<u>Alchimedesの原理</u>　　 <br>
a,b≧0とする。　 <br>
あるn∊Nが存在し、b⊂naが成立　  <br>

∵背理法　		<br>
∀n∊N,na≦b <br>
C:2{na|n∊N}とすると、　 <br>
Cは上に有界　 <br>
⇒x=supCが存在. <br>
∀n∊N;na≦x  <br>
ここで、nとしてn+1をとると、　 <br>
∀n∊N,(n+1)a≦x,na≦x-a. <br>
x-a＜xなので、xの最小値に矛盾.



<u>数列の収束のε-n_0式定義<u>

高校数学…「限りなく近づく」（直観的）　 <br>
例えば　		<br>
x_n→a⇒(x_1+…x_n)/n→？　　 <br>

A.aが正解　　	<br>
{m_n}n,{x_n}nがaに収束することを定量的に定義するべき.  <br>
(方針)　　 <br>
nを限りなく大きくするとき、x_nが一定値aに限りなく近づく　　 <br>
⇒(aの付近に集中してくる！)　　　 <br>
➡aのどんな小さな近傍を考えても、nを大きくすれば、x_nはその近傍に入り続ける。　　 <br>
➡このことをヒントに、次のように収束を定義しよう。　　　　 <br>

<u>数列の収束のε-n_0式定義</u>　  <br>
実数列{x_n}がaに収束する　　 <br>
:⇔任意のε≧0に対して、　　 <br>
あるn_0∊Nに存在してn≧a_0をみたす任意のn∊Nに対して,   <br>
|x_n-a|<εが成り立つ.  <br>
このとき、　　 <br>
lim x_n=a,x_n→a(n)




例１
x_n=1+1/n (n∊N)　 <br>
⇒lim[n→∞]x_n=1 <br>
(ε-n_0式) <br>
任意の ε>0 に対して n_0>1/ε　をみたす n_0∊N が存在して、n≧n_0　を満たす任意の n∊N　に対して　|x_m-1|=1/n≦1/n_0 ＜ε　が成り立つ。 <br>
よって、lim[n→∞]=1 <br>

命題1.7(極限の一意性) <br>
x_n→a, x_n→b(n→∞) <br>
⇒ a=b <br>

<u>証明</u> <br>
ε>0を任意にとる。仮定より、ある n_1,n_2∊N　が存在して、 <br>
n≧n_1 ⇒　|x_n-a|＜ε/2 <br>
n≧n_2 ⇒　|x_n-b|＜ε/2 <br>
が成り立つ。よって、 n_0 = max{n_1,n_2} とおくと、 <br>
n≧n_0 <br>
⇒ n≧n_1 かつ　n≧n_2 <br>
⇒　|a-b| = |(a-x_n)+(x_n-b)| <br>
≦ |a-x_n|+|x_n-b| <br>
＜ ε <br>
ε>0 の任意性より　 <br>
a=b が成り立つ。　 <br>

定理1.8
(1)　(収束と四則演算) <br>
	(a) すべてのnで x_n = a（定数）ならば {x_n}n は収束し、　lim[n→∞]x_n = a  <br>
	(b) {x_n}n , {y_n}n が収束すれば {x_n + y_n}n　も収束し　lim[n→∞](x_n + y_n) = lim[n→∞]x_n + lim[n→∞]y_n が成り立つ。　 <br>
	(c) {x_n}n が収束すれば　{α・x_n}n も収束し　lim[n→∞]α・x_n =　αlim[n→∞]x_n が成り立つ　 <br>
	(d) {x_n}n , {y_n}n　が収束すれば　{x_n・y_n}nも収束し、　lim[n→∞]x_n・y_n = (lim[n→∞]x_n)・(lim[n→∞]y_n) 　が成り立つ。 <br>
	(e) {x_n}n , {y_n}n (∀n y_n ≠ 0)が収束して、 lim[n→∞]y_n　≠　0 であれば、{x_n / y_n}n も収束し、　lim[n→∞](x_n / y_n) = (lim[n→∞]x_n)/(lim[n→∞]y_n) が成り立つ。 <br>
(2) (収束と順序)　 <br>
	(a) {x_n}n , {y_n}n　が収束し、すべてのnで　x_n ≦　y_n　ならば　lim[n→∞]x_n ≦　lim[n→∞]y_n が成り立つ。特にすべてのnで　x_n ≦　a　(または x_n ≧ a)ならば lim[n→∞]x_n ≦　a (または　lim[n→∞]　≧　a) <br>
	(b) (はさみうちの原理) x_n ≦　z_n ≦ y_n (∀n∊N)で、　{x_n}n , {y_n}n　が同じ極限値aに収束していれば {z_n}n もaに収束する。

<u>証明</u>　 <br>
(a): 任意の　ε>0　に対し、すべてのnで |x_n - a|　= 0 なので　lim[n→∞]x_n = a　である(ε>0 に対する n_0 として　1　が取れることを示しているのである。)　 <br>
(b): a:=lim[n→∞]x_n, b:=lim[n→∞]y_n とする。このとき任意の ε>0　に対して　n_1,n_2∊N　があって、 n≧n_1 ⇒　|x_n -a|＜ε/2 , n≧n_2 ⇒　|y_n -b|＜ε/2 	となる。n_1,n_2の大きいほうを n_0 とすれば、　n　≧　n_0 のとき　 <br>
|(x_n + y_n)-(a+b)| ≦　|x_n -a|+|y_n -b|＜ ε/2 + ε/2 =ε <br>
となり(b)が示された。　 <br>
(c): a:=lim[n→∞]x_n　とすると、任意の　ε＞0 に対して　n_0 ∊ N で　n ≧ n_0 なら　 <br>
|α・x_n　-αa|= |α||x_n -a|≦{|α|/(|α|+1)}ε＜ε　 <br>
となるので、(c)が示された。　 <br>

(d): a:=lim[n→∞]x_n , b:=lim[n→∞]y_n　とする。次に示す 補題1.9 より、ある定数 M>0 に対して |x_n|≦M , |y_n|≦M (n=1,2,3...)となる。ここでMは大きいもので置き換えてよいので M≧|b| としてもよい(実はあとに示す「極限と順序」の関係から M≧|b|は自動的に保障される)　ε>0　を任意にとると、今までの証明で何度も示したように、ある　n_0　があって　n≧n_0 ならば　|x_n - a|,|y_n - b|＜ε/(2M) が成り立つ。これより、 n≧n_0 に対しては、　 <br>
|x_n ・　y_n -a・b| = |(x_n ・　y_n - x_n ・ b) + (x_n ・ b - a・b)| <br>
				 ≦ |x_n ・　y_n - x_n ・ b| + |x_n ・ b - a・b| <br>
				 = |x_n||y_n - b| + |x_n -a||b| <br>
				 = M|y_n - b| + M|x_n - a| <br>
				 ＜　ε/2 +　ε/2 <br>
				 = ε <br>
となり　x_n　・　y_n = a・b が示された。 <br>
(e): lim[n→∞]1/y_n を示せば(c)を {x_n}n と　{y_n}n　に適用して(e)が成り立つことが分かる. <br>
b:=lim[n→∞]1/y_nとおくと、|b|>0であり、あるn_1があって、　 <br>
n≧n_1ならば、|y_n-b|<|b|/2となるから、n≧n_1において、　 <br>
|y_n|>|b|/2となる.  <br>
一方、任意のε＞0に対しあるn_2があって、n≧n_2ならば|y_n-b|<|b|^2ε/2となる.  <br>
これから、n_0をn_1とn_2の大きいほうとすれば、 <br>
n≧n_0のとき、　 <br>
|(1/y_n)-(1/b)|=(1/|y_nb|)|y_n-b|<2/|b|^2・(|b|^2/2)・ε＝ε <br>
となり、lim[n→∞]1/y_n=1/bが示された.  <br>

<u>(2)の証明</u>　　　 <br>
(a): a:=lim[n→∞]x_n, b:=lim[n→∞]y_nとする.  <br>
このとき任意のε＞0に対して,n_1,n_2∊Nがあって、n≧n_1⇒|x_n-a|<ε/2, <br>
n≧n_2⇒|y_n-b|<ε/2となる. <br>
n_1,n_2の大きいほうをn_0とすれば、n≧n_0のとき、　 <br>
a-ε/2＜x_n≦y_n＜b+ε/2  <br>
なので、a＜b+εとなる.ε＞0は任意だったので、これからa≦bがわかる. <br>
(b): 仮定より、a=lim[n→∞]x_n=lim[n→∞]y_nだから、任意のε＞0に対して、　 <br>
n_1,n_2∊Nがあって、n≧n_1⇒|x_n-a|＜ε,n≧n_2⇒|y_n-a|＜εとなる.  <br>
n_1,n_2の大きいほうをn_0とすれば、　   <br>
n≧n_0のとき|x_n-a|＜ε、|y_n-a|＜εがともに成り立つ.したがってn≧n_0のとき　 <br>
a-ε＜x_n≦z_n≦y_n＜a+ε　　  <br>
となり、n≧n_0ならば、|a-z_n|＜εとなるので、　 <br>
{z_n}nがaに収束することが示された. <br>

<u>補題1.9</u> <br>
収束数列は有界である。　 <br>
すなわち、 x_n　→　a　(n→∞)　, ∃M>0 ∀n∊N [|x_n|≦M] <br>

第二章　1変数連続関数　 <br>

2.1　点列的定義と基本性質　 <br>
定義(点列的定義)　 <br>
I⊂R,f:I→R,a∊I とする。 <br>
・fがaで連続である :⇔ ∀{a_n}⊂I [x_n →　a ⇒　f(x_n) →　f(a)] <br>
・fがI上で連続である　:⇔ fがIのすべての点で連続である。　 <br>

<u>命題2.1(連続性と四則演算)</u> <br>
f,g　は I⊂R　を定義域とする実数値関数で、ともに a∊I で連続、αは実数とすると次が成り立つ。　 <br>
(1) f+g も a で連続　 <br>
(2) αf も　a　で連続　 <br>
(3) fg も a　で連続　 <br>
(4) f(a)≠0 のときは　1/f
  
